.st4-member {
  &__container {
    width: 100%;
    //height: 400px;
    aspect-ratio: 380/400;
    border-radius: var(--border-radius);
    overflow: hidden;

    @include hover {
      & > img {
        scale: 1.05;
      }
    }

    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }
}