.st-5__accordion {
  &__item {
    position: relative;
    border-top: 1px solid var(--color-dark);
    padding: 30px 0;

    @include mobile {
      padding: 15px 0;
    }

    &:not(:nth-child(1)) {
      border-bottom: 1px solid var(--color-dark);
    }
  }

  &-line {
    display: flex;
    align-items: start;
    justify-content: space-between;
  }

  input{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    opacity:0;
    visibility: hidden;
  }

  &-title {
    color: var(--color-dark);
    position: relative;
    font-size: 20px;
    line-height: 1;
  }

  label{
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;

    @include hover {
      & * {
        color: var(--color-accent);
      }
      & *::before, & *::after {
        background: var(--color-accent);
      }
    }
  }

  &-icon {
    @include square(35px);

    cursor: pointer;
    margin-top: -10px;
    transform-origin: center;
    position: relative;
    
    &::before, &::after {
      content: '';
      position: absolute;
      top: 50%;
      left: 15%;
      width: 25px;
      height: 2px;
      background: var(--color-dark);
    }
    &::after {
      rotate: 90deg;
    }
  }

  &-answer {
    overflow: hidden;
    background-color: white;
    max-height: 0;

    p {
      padding-top: 25px;

      @include mobile {
        padding-top: 15px;
      }
    }
  }
}

input:checked ~ .st-5__accordion-answer {
  max-height: 500px;
}
input:checked ~ .st-5__accordion-line .st-5__accordion-icon {
  rotate: 45deg;
}