.button {
  @include reset_button;

  background: var(--color-accent);
  border-radius: var(--border-radius);
  height: 60px;
  padding-inline: 47px;
  color: white;
  cursor: pointer;
  white-space: nowrap;

  @include hover {
    background: rgba(204, 73, 73, 1);
  }

  &--dark {
    background: var(--color-dark);

    @include hover {
      background: rgba(49, 52, 60, 1);
    }
  }

  &--light {
    background: var(--color-light);
    outline: 1px solid var(--color-dark-alt);
    color: var(--color-dark);

    @include hover {
      color: white;
      background: var(--color-dark);
    }
  }
}